@model Phase_three_project_final.Models.TblVendors

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblVendors</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VendorId" />
            <div class="form-group">
                <label asp-for="VendorUname" class="control-label"></label>
                <input asp-for="VendorUname" class="form-control" />
                <span asp-validation-for="VendorUname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorPwd" class="control-label"></label>
                <input asp-for="VendorPwd" class="form-control" />
                <span asp-validation-for="VendorPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorLoc" class="control-label"></label>
                <input asp-for="VendorLoc" class="form-control" />
                <span asp-validation-for="VendorLoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorPhno" class="control-label"></label>
                <input asp-for="VendorPhno" class="form-control" />
                <span asp-validation-for="VendorPhno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
