
<style>
    body {
        background-image: url('https://cdn.wallpapersafari.com/68/18/e1kjWf.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .btns {
        position: relative;
        padding-top: 25%;
    }
</style>
<body>




    <div class=" text-center ">

        
        <div class="btns">
            <a asp-controller="tbllaptops" asp-action="index"> <button mdbRipple type="button" class="btn btn-light btn-lg mr-5"> Laptop </button></a>
            <a asp-controller="tblcustomers" asp-action="index"> <button mdbRipple type="button" class="btn  btn-light btn-lg mr-5"> Customer</button> </a>
            <a asp-controller="tblvendors" asp-action="index"> <button mdbRipple type="button" class="btn  btn-light btn-lg"> Vendor</button> </a>
        </div>


    </div>

</body>